/* Font */
@font-face {
  font-family: EDGE;
  src: url(fonts/EDGE-Medium.woff);
}

.App {
  font-family: EDGE;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  padding: 4px;
}

.btn {
  min-width: 110px;
  height: 44px;
  border-radius: 8px;
  color: #ff7d70;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7d70;
  margin-bottom: 24px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-active {
  background-color: #ff7d70;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.small-btn{
  width: 79px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #FF7D70;
  box-sizing: border-box;
  border-radius: 8px;
  color: #FF7D70;
  margin-left:14px;
}

.btn-disabled {
  color: #cccccc;
  border: 1px solid #cccccc;
}

.option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  left: 0px;
  align-content: flex-start;
  width: 100%;
  text-align: left;
}

.float-right{
  float:right;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Range Slider */
.form-range {
  width: 100%;
  height: 10px;
  padding: 0;
  background: #CCCCCC;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #FF7D70;
  width: 34px;
  height: 27px;
  border-radius: 8px;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
}

/* grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.col-100{
  flex: 0 0 auto;
  width: 100%;
}

.col-80{
  flex: 0 0 auto;
  width: 80%;
}

.col-75{
  flex: 0 0 auto;
  width: 75%;
}

.col-60{
  flex: 0 0 auto;
  width: 60%;
}

.col-50{
  flex: 0 0 auto;
  width: 50%;
}

.col-33{
  flex: 0 0 auto;
  width: 33%;
}

.col-25{
  flex: 0 0 auto;
  width: 25%;
}

.col-20{
  flex: 0 0 auto;
  width: 20%;
}

.col-10{
  flex: 0 0 auto;
  width: 10%;
}

.pr-20{
  padding-right:20px
}

.mt-50{
  margin-top:50px;
}

.mt-10{
  margin-top:10px;
}


/* Text (Area)field */
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  margin-top: 1rem;
}

.form-control{
  width: 225px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px;
}

.form-control-area{
  width:  320px;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 10px;
}

/* Checkbox */
.checkbox-input {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  padding-top:5px;
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #FF7D70;
  border-radius: 8px;
}

.checkbox-input input:checked ~ .checkbox-text {
  background-color: #FF7D70;
  border-radius: 8px;
}


/* list */

.list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list-summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.list-summary-item {
  display: flex;
  max-width: 40%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.select-btn {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.division {
  height: 1px;
  background-color: #CCCCCC;
}